// CharGen tidy config file

// HTML XHTML options
clean: yes
doctype: strict
drop-font-tags: yes
drop-proprietary-attributes: yes
enclose-text: yes
numeric-entities: yes
output-xhtml: yes
quote-ampersand: yes
quote-marks: no
quote-nbsp: yes

// character encoding options
ascii-chars: no
char-encoding: utf8

// pretty print options
indent: auto
indent-attributes: no
indent-spaces: 4
wrap: 0

// misc
tidy-mark: no
